<!DOCTYPE html>
<html>
<head>
  <title>LaAdventures</title>
  <link rel="stylesheet" href="//railsgirls.com/assests/bootstrap.css">
  <link rel="stylesheet" href="//railsgirls.com/assests/bootstrap-theme.css"
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
